{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>Asya's blog</title>
  </head>
  <body>
    <div>
      <header>
        <div class="nav-left">
          <h1><a href="{% url 'home' %}">Asya's blog</a></h1>
          {% if user.is_authenticated%}
            <h3><p>Hi {{ user.username }}</p></h3>
          {% endif %}
        </div>
        {% if user.is_authenticated %}
          <div class="pull-right">
            <p><a href="{% url 'post_new' %}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span>New Post</a></p>
            <p><a href="{% url 'logout' %}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></p>
          </div>
        {% else %}
          <div class="pull-right">
            <p><a href="{% url 'login' %}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-log-in"></span>Log In</a></p>
            <p><a href="{% url 'signup' %}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span>Sign Up</a></p>
          </div>
        {% endif %}
      </header>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>